@font-face {
  font-family: SplineSansMono;
  src: url(/public/font/SplineSansMono-VariableFont_wght.ttf);
}
:root {
  --main-color: #110209;
  --font-color: #50455d;
  --font-color-white: blanchedalmond;
  --svg-color: #50455d;
  --svg-hover-color: #65b4ae;
  --btn: blanchedalmond;
  --btn-hover: #65b4ae;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: SplineSansMono;
}
h1,
a,
p {
  color: var(--font-color-white) !important;
}
h4,
h5 {
  color: var(--svg-color) !important;
}
/* NAV */
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 60px;
  height: 100vh;
  opacity: 0.99;
  z-index: 1;
  background-color: var(--main-color);
  border-right: 1px solid skyblue;
  border-image: linear-gradient(to right top, blue, #91fff6, blue);
  border-image-slice: 1;
}
.nav div svg {
  width: 28px;
  fill: var(--svg-color);
}
.nav div svg:hover {
  fill: var(--svg-hover-color);
}
.bi-active {
  fill: var(--svg-hover-color) !important;
}
.nav-first {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
}
.nav-first a {
  margin-bottom: 10vh;
}
.nav-last {
  position: absolute;
  bottom: 35px;
}
/* PANEL */
.panel {
  position: fixed;
  top: 25px;
  right: 25px;
  display: flex;
  z-index: 100;
}
.panel .search {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--main-color);
  transition: 0.5s;
}
.panel .search.active {
  width: 260px;
  transition: 0.5s;
}
.panel .search .icon {
  cursor: pointer;
}
.bi-github {
  width: 28px;
  fill: var(--main-color);
  position: absolute;
  left: -52px;
  transform: translate(10px, 10px);
}
.bi-github:hover {
  fill: var(--svg-hover-color);
}
.bi-search {
  width: 28px;
  fill: var(--svg-color);
  position: absolute;
  left: 2px;
  transform: translate(10px, 10px);
}
.bi-search:hover {
  fill: var(--svg-hover-color);
}
.panel .search form .input {
  display: none;
  color: var(--font-color);
  border: none;
  background: none;
  box-shadow: none;
}
.panel .search form .input.active {
  display: block;
}
.panel svg:hover {
  fill: var(--svg-hover-color);
}
.risycle {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #cecece;
  overflow: hidden;
  cursor: pointer;
}
.risycle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* HOME */
.home {
  background: linear-gradient(to left, transparent, var(--main-color)),
    url('/public/images/bg/ready-player-one.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.menu-info {
  position: absolute;
  bottom: 0;
  height: 90vh;
  width: 20vw;
  opacity: 0.9;
  background-color: var(--main-color);
  margin-left: 60px;
  border-top-right-radius: 20px;
  border-top: 1px #4f92c8 solid;
  border-right: 2px #4f92c8 solid;
}
.info {
  margin-top: 15px;
  margin-left: 15px;
}
.info h1,
.info h4,
.info h5,
.info p,
.info a {
  margin: 10px;
  margin-bottom: 20px;
}
.info h5 {
  margin-top: 32px;
}
.info p {
  font-weight: 700;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 15px;
  border: 2px solid red;
  color: red !important;
}
.info a {
  text-align: center;
  display: inline-block;
  margin-top: 3vh;
  padding: 15px 30px;
  color: #181a1d !important;
  border-radius: 10px;
  background-color: var(--btn);
  box-shadow: 0 0 10px var(--btn), 0 0 40px var(--btn), 0 0 80px var(--btn);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 1s;
}
.info a:hover {
  color: white !important;
  background: var(--btn-hover);
  box-shadow: 0 0 10px var(--btn-hover), 0 0 40px var(--btn-hover),
    0 0 80px var(--btn-hover);
  transition: 1.5s;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  height: 100%;
  padding: 10vh;
}
.lable {
  display: flex;
  align-items: flex-end;
}
.lable img {
  width: 6vh;
}
.lamp {
  position: absolute;
  margin-left: 6px;
  margin-top: -15px;
  animation: lamp 0.8s ease-in-out infinite;
}
.i {
  filter: invert(1) drop-shadow(1px 1px 1px var(--btn)) opacity(0.9);
  margin-top: 12px;
  animation: i 0.8s ease-in-out infinite;
}
.poster img {
  cursor: pointer;
  margin: 0 20px;
  border-radius: 15px;
  width: 12vw;
  transition: 0.5s;
}
.poster img:hover {
  width: 13vw;
  transform: rotate(5deg);
  transition: 0.5s;
}
@keyframes lamp {
  0% {
    margin-top: -110px;
  }
  25% {
    transform: rotateZ(5deg);
  }
  50% {
    margin-top: -66px;
  }
  75% {
    transform: rotateZ(-3deg);
  }
  100% {
    margin-top: -110px;
  }
}
@keyframes i {
  0% {
    height: 100px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 100px;
  }
}
/* FILMS */
.films {
  height: 100vh;
  margin-left: 60px;
}
.films-list {
  margin: 0 12%;
}
.card {
  border-top-left-radius: calc(1rem - 1px) !important;
  border-top-right-radius: calc(1rem - 1px) !important;
}
.card-img-top {
  height: 75%;
  border-top-left-radius: calc(1rem - 1px) !important;
  border-top-right-radius: calc(1rem - 1px) !important;
}
.card-text {
  color: var(--font-color) !important;
}

/* Loaging */
.lds-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-right: 60px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Like */
.not-favorite {
  display: flex;
  align-items: center;
  height: 100vh;
}
