@font-face {
  font-family: SplineSansMono;
  src: url(/public/font/SplineSansMono-VariableFont_wght.ttf);
}
:root {
  --main-color: #110209;
  --font-color: #50455d;
  --font-color-white: blanchedalmond;
  --svg-color: #50455d;
  --svg-hover-color: #65b4ae;
  --btn: blanchedalmond;
  --btn-hover: #65b4ae;
  --transition: 0.4s;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: SplineSansMono;
}
h1 {
  color: var(--font-color-white) !important;
}
a,
p,
h4,
h5 {
  color: var(--font-color) !important;
}

/* NAV */
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 60px;
  height: 101vh;
  opacity: 0.99;
  z-index: 1;
  background-color: var(--main-color);
  border-right: 1px solid skyblue;
  border-image: linear-gradient(to right top, blue, #91fff6, blue);
  border-image-slice: 1;
}
.nav div svg {
  width: 28px;
  fill: var(--svg-color);
}
.nav div svg:hover {
  fill: var(--svg-hover-color) !important;
}
.bi-nav {
  margin: 14px 18px;
  cursor: pointer;
  font-size: xx-large;
  color: var(--svg-color) !important;
  transition: var(--transition);
}
.bi-nav:hover {
  color: var(--svg-hover-color) !important;
  transition: var(--transition);
}
.bi-nav-active {
  margin: 14px 18px;
  cursor: pointer;
  color: var(--svg-hover-color) !important;
  font-size: xx-large;
}
.nav-first {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
}
.nav-first a {
  margin-bottom: 10vh;
}
.nav-last {
  position: absolute;
  bottom: 35px;
}

/* PANEL */
.panel {
  position: fixed;
  top: 25px;
  right: 25px;
  display: flex;
  z-index: 100;
}
.panel .search {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--main-color) !important;
  transition: var(--transition);
}
.panel .search.active {
  width: 260px;
  transition: var(--transition);
}
.panel .search .icon {
  cursor: pointer;
}
.bi-github {
  width: 28px;
  color: var(--main-color) !important;
  position: absolute;
  top: -23px;
  left: -76px;
  font-size: xxx-large;
  transform: translate(10px, 10px);
  transition: var(--transition);
}
.bi-github:hover {
  color: var(--svg-hover-color) !important;
  transition: var(--transition);
}
.bi-search {
  color: var(--svg-color) !important;
  position: absolute;
  left: -1px;
  top: -10px;
  font-size: xx-large;
  transform: translate(10px, 10px);
  transition: var(--transition);
}
.bi-search:hover {
  color: var(--svg-hover-color) !important;
  transition: var(--transition);
}
.panel .search form .input {
  display: none;
  color: var(--font-color) !important;
  border: none;
  background: none;
  box-shadow: none;
}
.panel .search form .input.active {
  display: block;
}
.panel svg:hover {
  fill: var(--svg-hover-color) !important;
}
.searchRes {
  position: fixed;
  top: 80px;
  right: 175px;
  margin-right: -40px;
  display: flex;
  height: 60px;
  width: 185px;
  z-index: 100;
}
.searchRes div {
  display: flex;
  align-items: center;
}
.searchRes div img {
  margin: 5px;
  height: 48px;
  border-radius: 5px;
}
.searchRes div p {
  color: var(--font-color-white) !important;
  margin: 0;
  text-decoration: underline;
  background-color: black;
  border-radius: 5px;
}
.risycle {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #cecece;
  overflow: hidden;
  cursor: pointer;
}
.risycle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dropdown {
  display: flex !important;
  flex-direction: column;
  position: absolute !important;
  top: 62px;
  right: -5px;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 5px;
  transition: var(--transition);
  animation: dropdown ease-in-out 0.4s;
}
.dropdown::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  transform: rotate(45deg);
}
.dropdown a {
  text-decoration: none;
}
.dropdown p {
  padding: 15px;
  margin: 5px 0;
  transition: var(--transition);
}
.dropdown p:hover {
  cursor: pointer;
  color: var(--font-color-white) !important;
  transition: var(--transition);
}
.none {
  display: none;
}
@keyframes dropdown {
  0% {
    top: -170px;
    transform: rotate3d(1, 1, 1, 30deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
}

/* HOME */
.home {
  background: linear-gradient(to left, transparent, var(--main-color)),
    url('/public/images/bg/ready-player-one.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.menu-info {
  position: absolute;
  bottom: 0;
  height: 90vh;
  width: 20vw;
  opacity: 0.9;
  background-color: var(--main-color);
  margin-left: 60px;
  border-top-right-radius: 20px;
  border-top: 1px #4f92c8 solid;
  border-right: 2px #4f92c8 solid;
}
.info {
  margin-top: 15px;
  margin-left: 15px;
}
.info h1,
.info h4,
.info h5,
.info p,
.info a {
  margin: 10px;
  margin-bottom: 20px;
}
.info h5 {
  margin-top: 32px;
}
.info p {
  font-weight: 700;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 15px;
  border: 2px solid red;
  color: red !important;
}
.info a {
  text-align: center;
  display: inline-block;
  margin-top: 3vh;
  padding: 5% 10%;
  color: #181a1d !important;
  border-radius: 10px;
  background-color: var(--btn);
  box-shadow: 0 0 10px var(--btn), 0 0 40px var(--btn), 0 0 80px var(--btn);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 1s;
}
.info a:hover {
  color: white !important;
  background: var(--btn-hover);
  box-shadow: 0 0 10px var(--btn-hover), 0 0 40px var(--btn-hover),
    0 0 80px var(--btn-hover);
  transition: 1.5s;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  height: 100%;
  padding: 10vh;
  margin-right: 10%;
}
.lable {
  display: flex;
  align-items: flex-end;
}
.lable img {
  width: 6vh;
}
.lamp {
  position: absolute;
  margin-left: 6px;
  margin-top: -15px;
  animation: lamp 0.8s ease-in-out infinite;
}
.i {
  filter: invert(1) drop-shadow(1px 1px 1px var(--btn)) opacity(0.9);
  margin-top: 12px;
  animation: i 0.8s ease-in-out infinite;
}
.poster img {
  cursor: pointer;
  margin: 0 20px;
  border-radius: 15px;
  width: 12vw;
  transition: var(--transition);
}
.poster img:hover {
  width: 13vw;
  transform: rotate(5deg);
  transition: var(--transition);
}
@keyframes lamp {
  0% {
    margin-top: -110px;
  }
  25% {
    transform: rotateZ(5deg);
  }
  50% {
    margin-top: -66px;
  }
  75% {
    transform: rotateZ(-3deg);
  }
  100% {
    margin-top: -110px;
  }
}
@keyframes i {
  0% {
    height: 100px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 100px;
  }
}

/* FILMS */
.films {
  height: 100vh;
  margin-left: 60px;
}
.films-list {
  margin: 0 12%;
}
.card {
  border-top-left-radius: calc(1rem - 1px) !important;
  border-top-right-radius: calc(1rem - 1px) !important;
}
.card-body a {
  color: var(--font-color-white) !important;
}
.card-img-top {
  height: 75%;
  border-top-left-radius: calc(1rem - 1px) !important;
  border-top-right-radius: calc(1rem - 1px) !important;
}

/* Loaging */
.lds-roller {
  display: flex;
  align-items: center;
  width: 8vw;
  height: 95vh;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--main-color);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Like */
.not-favorite {
  display: flex;
  align-items: center;
  height: 100vh;
}
.bi-heart-fill {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 14px 18px;
  cursor: pointer;
  color: red;
  font-size: xx-large;
}
.bi-heart {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 14px 18px;
  cursor: pointer;
  color: var(--bs-blue);
  font-size: xx-large;
}

/* Movie */
.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 60px;
  padding: 20px;
}
.movie h1 {
  color: var(--font-color) !important;
}
.paginate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MARKET */
.market {
  margin-left: 60px;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  padding: 100px 0 50px;
  box-sizing: border-box;
}
.card-container .card {
  position: relative;
  min-width: 320px;
  height: 500px;
  background-color: var(--btn-hover);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
}
.card-container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 88%;
  background-color: var(--main-color);
  border-radius: 15px;
  border: 2px solid #1e1f23;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.card-container .card:hover .box {
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
  transform: translateY(-50px);
  transition: var(--transition);
}
.card-container .card .box .content {
  padding: 20px;
  text-align: center;
}
.card-container .card .box .content .icon {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: red;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card-container .card .box .content .icon .bi {
  color: #fff;
  font-size: 2em;
}
.card-container .card .box .content h3 {
  font-size: 1.8em;
  color: #fff;
  font-weight: 800;
}
.card-container .card .box .content h4 {
  font-size: 3em;
  color: #50455d;
  font-weight: 700;
}
.card-container .card .box .content h4 sup {
  font-size: 0.75em;
  color: #50455d;
  font-weight: 300;
}
.card-container .card .box .content ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-container .card .box .content ul li {
  list-style: none;
  color: #fff;
  margin: 5px 0;
}
.card-container .card .box .content ul li .bi-patch-check {
  color: #0f0;
}

.card-container .card .box .content ul li .bi-patch-minus {
  color: #f00;
}
.card-container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background-color: #f00;
  margin-top: 15px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
.card-container .card:nth-child(1) .box .content a,
.card-container .card:nth-child(1) .box .content .icon {
  background-color: #2196f3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-container .card:nth-child(2) .box .content a,
.card-container .card:nth-child(2) .box .content .icon {
  background-color: #e91e63;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-container .card:nth-child(3) .box .content a,
.card-container .card:nth-child(3) .box .content .icon {
  background-color: #a2e91e;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* LOGIN */
.login {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.login .row {
  width: 70%;
  margin-bottom: 10vh;
}
.col-md-6 {
  margin-left: 30px;
}

/* NoPage */
.no-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 60px;
  height: 100vh;
}
.no-page h1 {
  color: var(--font-color) !important;
}
.no-page video {
  border-radius: 15px;
}

/*Изменения скорлла*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

/* MEDIA */
@media all and (max-device-width: 1440px) {
  .home .menu-info {
    width: 25vw;
  }
  .home .movies .poster .jellyfish {
    display: none;
  }
}
@media all and (max-device-width: 992px) {
  .home .menu-info {
    width: 32vw;
  }
  .home .movies .poster {
    margin-right: -24%;
  }
}
@media all and (max-device-width: 767px) {
  .home {
    background-position: center;
  }
  .home .menu-info {
    margin-bottom: -90vh;
    width: 92.1%;
  }
  .home .menu-info .info h5 {
    width: 45vw;
  }
  .home .menu-info .info a {
    padding: 3% 6%;
  }
  .home .movies .poster img {
    width: 20vw;
  }
  .home .movies .poster img:hover {
    width: 22vw;
  }
  .movie iframe {
    height: 600px !important;
  }
}
