@font-face {
  font-family: SplineSansMono;
  src: url(/public/font/SplineSansMono-VariableFont_wght.ttf);
}
:root {
  --main-color: #110209;
  --font-color: #50455d;
  --font-color-white: blanchedalmond;
  --svg-color: #50455d;
  --svg-hover-color: #65b4ae;
  --btn: blanchedalmond;
  --btn-hover: #65b4ae;
  --margin-nav: 5%;
  --margin-nav-media: 10%;
  --transition: 0.4s;
  --opacity: 0.9;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: SplineSansMono;
  /* background: linear-gradient(to right top, blue, #91fff6, blue); */
  /* background: linear-gradient(to right top, #ff0080, rgb(255 145 233), blue); */
  background: linear-gradient(to right top, #ff0080, #2c2cff);
  background-attachment: fixed;
}
h1 {
  color: var(--font-color-white) !important;
}
a,
p,
h3,
h4 {
  color: var(--font-color) !important;
}

/* NAV */
.nav {
  position: fixed;
  width: 5%;
  height: 100vh;
  border-right: 1px solid skyblue;
  border-image: linear-gradient(to right top, blue, #91fff6, blue);
  border-image-slice: 1;
  opacity: var(--opacity);
}
.nav svg {
  width: 28px;
  fill: var(--svg-color);
}
.nav svg:hover {
  fill: var(--svg-hover-color) !important;
}
.nav__section {
  width: -webkit-fill-available;
  background-color: var(--main-color);
}
.nav__section-none {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
}

.bi-nav {
  font-size: 2rem;
  color: var(--svg-color) !important;
  cursor: pointer;
  transition: var(--transition);
  z-index: 200;
}
.bi-nav:hover {
  color: var(--svg-hover-color) !important;
  transition: var(--transition);
}
.bi-nav-active {
  margin: 14px 18px;
  font-size: 2rem;
  color: var(--svg-hover-color) !important;
  cursor: pointer;
}
.nav__first-section {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.nav__first-section a {
  margin-bottom: 10vh;
}
.nav__last-section {
  position: absolute;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.bi-box-arrow-in-left {
  position: relative;
  left: 5px;
  font-size: 2.3rem;
}
.nav__burger {
  display: none;
}

/* PANEL */
.panel {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 100;
  display: flex;
}
.panel__search {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  background-color: var(--main-color) !important;
  border-radius: 50px;
  transition: var(--transition);
}
.panel__search.active {
  width: 260px;
  transition: var(--transition);
}
.panel__icon-search {
  cursor: pointer;
}
.bi-github {
  position: absolute;
  top: -23px;
  left: -76px;
  font-size: 3rem;
  color: var(--main-color) !important;
  transform: translate(10px, 10px);
  transition: var(--transition);
}
.bi-github:hover {
  color: var(--svg-hover-color) !important;
  transition: var(--transition);
}
.bi-search {
  position: absolute;
  left: -1px;
  top: -10px;
  font-size: 2rem;
  color: var(--svg-color) !important;
  transform: translate(10px, 10px);
  transition: var(--transition);
}
.bi-search:hover {
  color: var(--svg-hover-color) !important;
  transition: var(--transition);
}
.panel__form .input {
  display: none;
  margin-right: 0.5rem !important;
  color: var(--font-color) !important;
  background: none;
  border: none;
  box-shadow: none;
}
.panel__form .input.active {
  display: block;
  position: relative;
  top: 7px;
  width: auto;
  background-color: var(--main-color);
  box-shadow: none;
}
.panel svg:hover {
  fill: var(--svg-hover-color) !important;
}
.panel__search-hidden-result {
  position: fixed;
  top: 80px;
  right: 175px;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 185px;
  height: 60px;
  margin-right: -40px;
}
.panel__search-hidden-result img {
  height: 48px;
  margin: 5px;
  border-radius: 5px;
}
.panel__search-hidden-result p {
  margin: 0;
  color: var(--font-color-white) !important;
  text-decoration: underline;
  background-color: black;
  border-radius: 5px;
}
.panel__icon-profile {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-color: #cecece;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.panel__icon-profile-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.panel__dropdown {
  position: absolute !important;
  top: 62px;
  right: -5px;
  display: flex !important;
  flex-direction: column;
  padding: 5px;
  background-color: var(--main-color);
  border-radius: 10px;
  transition: var(--transition);
  animation: dropdown ease-in-out 0.4s;
}
.panel__dropdown::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  transform: rotate(45deg);
}
.panel__profile-link {
  text-decoration: none;
}
.panel__profile-paragraph {
  margin: 5px 0;
  padding: 15px;
  transition: var(--transition);
}
.panel__dropdown p:hover {
  color: var(--font-color-white) !important;
  transition: var(--transition);
  cursor: pointer;
}
.panel__none {
  display: none;
}
@keyframes dropdown {
  0% {
    top: -170px;
    transform: rotate3d(1, 1, 1, 30deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
}

/* HOME */
.home {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, transparent, var(--main-color)),
    url('/public/images/bg/ready-player-one.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin-left: var(--margin-nav);
  padding: 14% 2%;
  background-color: var(--main-color);
  border-right: 1px solid var(--font-color);
  opacity: var(--opacity);
}
.home__paragraph,
.home__film-title,
.home__child-title,
.home__description-title,
.home__link {
  margin: 8px;
}
.home__paragraph {
  width: fit-content;
  padding: 3px 10px;
  font-size: 1.25rem;
  font-weight: 700;
  color: red !important;
  border: 2px solid red;
  border-radius: 15px;
}
.home__film-title {
  font-size: 2rem;
}
.home__child-title {
  font-size: 1.35rem;
}
.home__description-title {
  font-size: 1.2rem;
}
.home__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  padding: 8% 10%;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #181a1d !important;
  background-color: var(--btn);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--btn), 0 0 40px var(--btn), 0 0 80px var(--btn);
  overflow: hidden;
  transition: 1s;
}
.home__link:hover {
  color: white !important;
  background: var(--btn-hover);
  box-shadow: 0 0 10px var(--btn-hover), 0 0 40px var(--btn-hover),
    0 0 80px var(--btn-hover);
  transition: 1.5s;
}
.home__movies {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 5%;
}
.home__mov-title {
  display: flex;
  align-items: flex-end;
  margin: 0 20px;
}
.home__list {
  width: 4rem;
  padding: 0;
  list-style-type: none;
}
.home__item-lamp {
  position: absolute;
  margin-left: 6px;
  margin-top: -15px;
  width: 7vh;
  animation: lamp 0.8s ease-in-out infinite;
}
.home__item-i {
  width: 5rem;
  margin-top: 30px;
  filter: invert(1) drop-shadow(1px 1px 1px var(--btn));
  opacity: var(--opacity);
  animation: i 0.8s ease-in-out infinite;
}
.home__poster img {
  width: 12vw;
  margin: 0 20px;
  border-radius: 15px;
  transition: var(--transition);
  cursor: pointer;
}
.home__poster img:hover {
  width: 14vw;
  transform: rotate(5deg);
  transition: var(--transition);
}
@keyframes lamp {
  0% {
    margin-top: -110px;
  }
  25% {
    transform: rotateZ(5deg);
  }
  50% {
    margin-top: -66px;
  }
  75% {
    transform: rotateZ(-3deg);
  }
  100% {
    margin-top: -110px;
  }
}
@keyframes i {
  0% {
    height: 100px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 100px;
  }
}

/* FILMS */
.films {
  height: 100vh;
  margin-left: var(--margin-nav);
  /* background: linear-gradient(to right top, blue, #91fff6, blue); */
}
.card {
  border: none;
  background-color: #ffffffc9 !important;
  border-radius: 24px !important;
}
.films__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 12%;
}
.films__card {
  border: none !important;
  width: 18rem;
  margin: 1rem !important;
  border-top-left-radius: calc(1rem - 1px) !important;
  border-top-right-radius: calc(1rem - 1px) !important;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  transition: 0.4s;
}
.films__card:hover{
  box-shadow: 0 15px 35px rgb(0 0 0 / 50%);
  transition: 0.4s;
}
.films__card-btn {
  color: var(--font-color-white) !important;
}
.films__card-img {
  height: 75%;
  border-top-left-radius: calc(1rem - 1px) !important;
  border-top-right-radius: calc(1rem - 1px) !important;
}

/* Like */
.films__not-favorite {
  display: flex;
  align-items: center;
  height: 100vh;
}
.bi-heart-id {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 14px 18px;
  font-size: 2rem;
  color: red;
  cursor: pointer;
}
.bi-heart {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 14px 18px;
  font-size: 2rem;
  color: var(--bs-blue);
  cursor: pointer;
}

/* Movie */
.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: var(--margin-nav);
  padding: 20px;
}
/* .movie__title {
  color: var(--font-color) !important;
} */
.movie__img{
  border-radius: 20px;
}
.movie__container{
  display: flex;
  align-items: center;
  margin: 50px;
}
.movie__description{
  padding-left: 30px;
}
.movie__description h1,
.movie__description h4,
.movie__description h5{
  color: var(--font-color-white) !important;
}
.movie__iframe{
  padding: 50px;
}
.paginate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MARKET */
.market__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  padding: 100px 0 50px;
  box-sizing: border-box;
}
.market__card {
  position: relative;
  min-width: 320px;
  height: 500px;
  margin: 30px;
  background-color: var(--btn-hover);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}
.market__box {
  position: absolute;
  top: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  width: 87%;
  background-color: var(--main-color);
  border: 2px solid #1e1f23;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: var(--transition);
}
.market__card:hover .market__box {
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
  transform: translateY(-50px);
  transition: var(--transition);
}
.market__content {
  text-align: center;
  padding: 20px;
}
.market__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: red;
  border-radius: 50%;
}
.market__icon .bi {
  font-size: 2em;
  color: white;
}
.market__title {
  color: white;
  font-size: 1.8em;
  font-weight: 800;
}
.market__price {
  color: #50455d;
  font-size: 3em;
  font-weight: 700;
}
.market__price-dollar {
  color: #50455d;
  font-size: 0.75em;
  font-weight: 300;
}
.market__items-list {
  position: relative;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.market__item {
  color: white;
  margin: 5px 0;
  list-style: none;
}
.market__item .bi-patch-check {
  color: greenyellow;
}

.market__item .bi-patch-minus {
  color: red;
}
.market__link {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding: 8px 20px;
  font-weight: 400;
  color: white;
  background-color: red;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}
.market__card:nth-child(1) .market__link,
.market__card:nth-child(1) .market__icon {
  background-color: #2196f3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.market__card:nth-child(2) .market__link,
.market__card:nth-child(2) .market__icon {
  background-color: #e91e63;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.market__card:nth-child(3) .market__link,
.market__card:nth-child(3) .market__icon {
  background-color: #a2e91e;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* LOGIN */
.login {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__box {
  margin-left: 30px;
  padding: 1.5rem !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.login__title {
  margin-bottom: 1.5rem !important;
}
.login__sing-paragraf {
  cursor: pointer;
  color: var(--bs-primary) !important;
}
.login_register-radio div {
  display: inline-block;
  margin-right: 1.5rem;
}

/* NoPage */
.no-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-left: var(--margin-nav);
}
.no-page__title {
  color: var(--font-color) !important;
}
.no-page__video {
  border-radius: 15px;
}

/* Loaging */
.lds-roller {
  display: flex;
  align-items: center;
  width: 8vw;
  height: 95vh;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  position: absolute;
  display: block;
  width: 7px;
  height: 7px;
  margin: -4px 0 0 -4px;
  background: var(--main-color);
  border-radius: 50%;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PROFILE */
.profile__container {
  margin: 16px;
}
.profile__input {
  font-size: larger;
  padding: 4px 14px;
  border: 1px solid;
  border-radius: 5px;
  background: #e8e8e8;
}
.profile__input::placeholder {
  color: #000;
}
#name::placeholder,
#surname::placeholder {
  color: #727272;
}
.profile__data {
  margin: 20px;
}

/* SETTING */
.settings__container {
  margin: 16px;
}
.settings__btn {
  color: #fff !important;
  background-color: var(--font-color) !important;
}

/* CARD - payment */
.payment {
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  background-color: #291c22;
  border-radius: 10px;
  opacity: 0.98;
}
.payment h2,
.payment h5,
.payment p,
.payment small,
.payment span {
  color: rgb(245, 245, 245) !important;
}
.payment__toast {
  position: absolute;
  top: 20%;
  left: 90%;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  min-height: 85px;
  background-color: #1a9f29;
  border-radius: 10px;
  animation: toast 1.2s cubic-bezier(0.5, 0, 0.5, 1);
}
.payment__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.payment__menu-title {
  margin-top: 0.5rem;
}
.payment__time {
  margin-top: 2px;
}
.payment__message {
  display: flex;
  justify-content: center;
}
.payment__paragraf {
  margin-top: 0.5rem;
}
@keyframes toast {
  0% {
    top: 20%;
    left: 100%;
  }
  50% {
    top: 20%;
    left: 80%;
  }
  100% {
    top: 20%;
    left: 90%;
  }
}
.bi-x-lg {
  font-size: x-large;
  cursor: pointer;
  color: #fff;
}
.bi-x-octagon {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  color: red;
  font-size: xxx-large;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.binking {
  font-size: 16px;
}

.binking__form.binking__hide {
  display: none;
}

.binking__success.binking__hide {
  display: none;
}

.binking__title {
  font-size: 1.4em;
  margin: 0;
  margin-bottom: 0.4em;
}

.binking__price {
  color: #fff !important;
}

.binking__panels {
  width: 500px;
  height: 260px;
  position: relative;
}

.binking__panel {
  position: absolute;
  width: 370px;
  height: 230px;
  border-radius: 15px;
}

.binking__front-panel {
  background: #eeeeee;
  border: 1px solid rgb(46, 33, 39);
  color: #000;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 150ms ease;
}

.binking__form-bank-logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 27px 0;
  width: 100%;
  height: 68px;
  object-fit: contain;
  object-position: 0 0;
  transition: opacity 150ms ease, transform 150ms ease;
}

.binking__form-bank-logo.binking__hide {
  opacity: 0;
  transform: scale(0.8);
}

.binking__form-brand-logo {
  position: absolute;
  bottom: 26px;
  right: 27px;
  text-align: right;
  height: 36px;
  transition: opacity 150ms ease, transform 150ms ease;
}

.binking__form-brand-logo.binking__hide {
  opacity: 0;
  transform: scale(0.8);
}

.binking__front-fields {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 26px;
}

.binking__number-field {
  width: 100%;
  margin-bottom: 15px;
}

.binking__date-label {
  margin-bottom: 6px;
  transition: color 150ms ease;
}

.binking__date-field {
  display: inline-block;
  width: 51px;
}

.binking__month-field {
  margin-right: 10px;
}

.binking__back-panel {
  bottom: 0;
  right: 0;
  background: #bbb;
}

.binking__back-panel:before {
  content: '';
  position: absolute;
  top: 26px;
  background: #444;
  width: 100%;
  height: 60px;
  left: 0;
}

.binking__code-field {
  position: absolute;
  bottom: 77px;
  right: 26px;
  width: 80px;
}

.binking__code-label {
  position: absolute;
  width: 80px;
  right: 26px;
  bottom: 34px;
}

.binking__field {
  padding: 6px 10px;
  font-family: Courier, monospace;
  font-size: 20px;
  text-indent: 2px;
  border: 1px solid #333;
  transition: border-color 150ms ease;
}

.binking__field:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.binking__label {
  display: block;
}

.binking__save-card {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 0.5em;
}

.binking__save-card-checkbox {
  margin-right: 6px;
}

.binking__saved-cards {
  margin-top: 1.5em;
}

.binking__saved-cards.binking__hide {
  display: none;
}

.binking__cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-right: -1em;
  margin-bottom: -1em;
}

.binking__cards.binking__disabled {
  pointer-events: none;
  opacity: 0.5;
}

.binking__card {
  height: 60px;
  padding: 10px;
  background: #eeeeee;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-right: 1em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.binking__card.binking__selected {
  box-shadow: inset 0 0 0 3px #00c;
}

.binking__card-bank-logo {
  object-fit: contain;
  object-position: 50% 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.binking__card-last4 {
  white-space: nowrap;
  font-size: 20px;
  margin-right: 10px;
}

.binking__card-brand-logo {
  height: 20px;
}

.binking__form-bottom {
  margin-top: 1em;
}

.binking__error {
  margin-bottom: 0.5em;
  color: #c00;
}

.binking__error.binking__hide {
  display: none;
}

.binking__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.7em;
  padding: 0.5em 1.5em;
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  text-align: center;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  background: #1e9800;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1b8900),
    to(#28cb00)
  );
  background: linear-gradient(0deg, #1b8900, #28cb00);
  box-shadow: inset 0 6px 8px -2px #2de500, inset 0 -3px 5px -3px #051900;
  text-shadow: 1px 1px #177400;
  color: #fff;
}

.binking__button:hover {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1e9800),
    to(#2de500)
  );
  background: linear-gradient(0deg, #1e9800, #2de500);
}

.binking__button:active {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#28cb00),
    to(#1b8900)
  );
  background: linear-gradient(0deg, #28cb00, #1b8900);
  box-shadow: inset 0 6px 8px -2px #28cb00, inset 0 -2px 8px -3px #000;
}

.binking__button.binking__loading {
  pointer-events: none;
  opacity: 0.5;
  color: transparent;
  text-shadow: none;
}

.binking__button.binking__loading:after {
  content: '';
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: binking__spin 1.1s linear infinite;
  animation: binking__spin 1.1s linear infinite;
  border: 5px solid hsla(0, 0%, 100%, 0.2);
  border-left-color: #fff;
  width: 30px;
  height: 30px;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}

.binking__button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

@-webkit-keyframes binking__spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes binking__spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.binking__hint {
  line-height: 1.5;
}

@media (max-width: 540px) {
  .binking__panels {
    width: 386px;
    height: 300px;
  }
  .binking__code-field {
    bottom: 16px;
  }
  .binking__code-label {
    text-align: right;
    right: 115px;
    bottom: 17px;
  }
}

@media (max-width: 430px) {
  .binking {
    font-size: 14px;
  }
  .binking__panels {
    width: 300px;
    height: 243px;
  }
  .binking__panel {
    width: 290px;
    height: 180px;
    border-radius: 10px;
  }
  .binking__form-bank-logo {
    padding: 15px 16px 0;
    height: 57px;
  }
  .binking__form-brand-logo {
    bottom: 16px;
    right: 17px;
    height: 30px;
  }
  .binking__front-fields {
    padding: 16px;
  }
  .binking__number-field {
    margin-bottom: 12px;
  }
  .binking__date-label {
    margin-bottom: 4px;
  }
  .binking__date-field {
    width: 45px;
  }
  .binking__month-field {
    margin-right: 10px;
  }
  .binking__code-field {
    bottom: 16px;
    width: 62px;
  }
  .binking__code-label {
    right: 97px;
    bottom: 16px;
  }
  .binking__back-panel:before {
    top: 16px;
    height: 60px;
  }
  .binking__field {
    padding: 6px 10px;
    font-size: 14px;
    text-indent: 2px;
  }
}

.tippy-tooltip.custom-theme {
  background-color: #c00;
  color: #ffffff;
}

.tippy-tooltip.custom-theme[data-placement^='top'] .tippy-arrow {
  border-top-color: #c00;
}

/*Изменения скорлла*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

/* MEDIA */
@media all and (max-device-width: 1366px) {
  .home {
    background: 50%;
    background-size: cover;
  }
  .home__paragraph {
    font-size: 1rem;
  }
  .home__film-title {
    font-size: 1.4rem;
  }
  .home__info {
    padding: 2% 2%;
  }
}
@media all and (max-device-width: 992px) {
  .nav {
    width: 10%;
  }
  .home__info {
    width: 50%;
    margin-left: var(--margin-nav-media);
  }
  .movies__poster img {
    width: 18vw;
  }
}
@media all and (max-device-width: 767px) {
  .nav {
    /* position: absolute;
      width: 100vw;
      height: 100vh; */
    border-right: 0;
    border-image: none;
    opacity: 1;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav__section {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    opacity: 0.995;
    z-index: 10;
  }
  .nav__section-none {
    display: none;
  }
  .nav i {
    padding: 1rem;
    font-size: 2rem;
  }
  .nav__burger {
    position: fixed;
    top: 38px;
    left: 36px;
    display: block;
    z-index: 100;
  }
  .nav__toggle {
    display: block;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;
  }
  .nav__toggle a {
    color: #232323;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .nav__toggle a:hover {
    color: tomato;
  }
  .nav__toggle input {
    position: absolute;
    top: -7px;
    left: -5px;
    display: block;
    width: 40px;
    height: 32px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  .nav__toggle span {
    position: relative;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: var(--svg-color);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .nav__toggle span:first-child {
    transform-origin: 0% 0%;
  }
  .nav__toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .nav__toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: red;
  }
  .nav__toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .nav__toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .panel__search-hidden-result {
    top: 70px;
    left: 38px;
    z-index: 100;
    width: 120px;
    height: 35px;
  }
  .home__movies {
    display: none;
  }
  .home__info {
    width: 100%;
    margin-left: 0;
    padding: 16% 10%;
  }
  .home__paragraph {
    font-size: 1rem;
  }
  .home__film-title {
    font-size: 1.4rem;
  }
  .home__child-title {
    font-size: 1.2rem;
  }
  .home__description-title {
    font-size: 1.05rem;
    max-height: 30%;
    overflow: auto;
  }
  .home__link {
    padding: 3% 5%;
  }
  .bi-github {
    color: var(--svg-color) !important;
  }
  .login__box {
    margin: 25px;
  }
  .movie{
    margin: auto;
  }
  .movie__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .movie__description{
    padding: 0;
    margin-top: 20px;
  }
  .movie__iframe{
    padding: 0;
  }
  .market__card {
    min-width: 260px;
    height: 450px;
    margin: 50px;
  }
  .market__icon {
    width: 60px;
    height: 60px;
  }
  .market__link {
    margin-top: 0;
  }
  .payment {
    position: fixed;
    top: 9%;
    right: 0;
    bottom: 9%;
    left: 0;
  }
}
